@import '../../../../assets/styles/variables';

.navbar {
  background: var(--dark-color);
  padding: 1rem;

  > .container-fluid {
    justify-content: center;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-inline: 1.5rem;
}

.navbar-brand {
  color: var(--primary-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
  line-height: normal;
  padding-block-start: 0;
}

.navbar-brand:hover {
  color: var(--primary-color);
}

.nav-item .nav-link {
  display: block;
  color: var(--white-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-normal);
  text-transform: uppercase;
  padding: 2px 6px;
}

.nav-item .nav-link.active,
.nav-item .nav-link:hover {
  color: var(--primary-color);
}

@media screen and (min-width: $mobile-max-width) and (max-width: $tablet-max-width) {
  .nav-item .nav-link {
    padding: 6px;
  }
}

@media screen and (max-width: $mobile-max-width) {
  .navbar-brand {
    margin: 0 auto;
  }
}
