<footer class="site-footer container-fluid">
  <div class="container-xl">
    <div class="row">
      <div class="ml-auto col-12 col-md-8 col-xl-8">
        <div class="copyright-text">&copy; 2024 - All rights reserved to Michael Margolis</div>
      </div>
      <div class="mx-auto col-12 col-md-4 col-xl-4">
        <div class="contact">
          <a href="mailto:contact@michael.com" target="_blank">contact&#64;cyclops.security</a>
          <fa-icon [icon]="faEnvelope"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</footer>
